<template>
    <div class="container">
        <div class="row jutify-content-center">
            <div class="col-md-8">
                <div v-if="error !== null" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

                    <strong>{{error}}</strong>
                </div>
                <div>
                    <div class="card card-default">
                        <div class="card-heder"><h2>Login</h2></div>
                        <div class="card-body">
                            <form>
                                <!-- Campo username -->
                                <div class="username">
                                    <label for="name" class="col-sm-4 col-form-label text-md-right">Username</label>
                                    <div class="col-md-8">
                                        <input input id="name" class="form-control" v-model="name" required autofocus>
                                    </div>
                                </div>

                                <!-- Campo password -->
                                <div class="password">
                                    <label for="password" class="col-md-e col-form-label text-md-right">Password</label>
                                    <div class="col-md-8">
                                        <input id="password" class="form-control" v-model="password" required>

                                    </div>
                                </div>

                                <!-- Botón Login -->
                                <div class="form-group row mt-1 mb-0">
                                    <div class="login-btn">
                                            <button type="submit" class="btn btn-outline-dark" @click="handleSubmit">Login</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                name: "",
                password: "",
                token: "",
                error: null
            }
        },
        methods: {
            async handleSubmit() {
                await this.$axios.post('http://localhost:8000/api/login', {
                    name: this.name,
                    password: this.password
                })
                .then(response => {
                    if (response.data.success) {
                        token = response.data.token
                        this.$router.push('http://localhost:8000/profile')
                        
                    } else {
                        this.error = response.data.message
                    }
                })
                .catch(function (error) {
                    console.error(error);
                });
             }
        }
        // , beforeRouteEnter(to, from, next) {
        //     if(token !== '0'){
        //         return next('profile');
        //     }
        //     next();
        // }

    }
</script>
