<template>
    <div class="row">
        <h1>Profile</h1>

    </div>
</template>

<script>
export default {
    // name: "Home",
    // data() {
    //     return {
    //         //
    //     }
    // },
    // created() {
    // },
    // methods: {}
}
</script>